@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Font setup */
/* // <uniquifier>: Use a uniquifier for the class name */
/* // <weight>: Use a value from 100 to 900 */
.work-sans-one {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Font setup ends */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #00ad6a;

    --color2: #eafaf1;

    --color3: #1fe374;

    --color4: #080c16;

    --color5: #d6dae5;

    --color6: #fcfcfc;
}

.wrapper{
    width: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
}

/* -----------------------------------NavBar Section CSS------------------------------------------------------------- */
.navbar-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navbar-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}
.navbar-section-container-right{
    display: flex;
    gap: 40px;
    color: var(--color1);
    font-weight: 700;
    align-items: center;
}
.nav-btns-type-1{
    cursor: pointer;
    transition: all 0.4s;
}
.nav-btns-type-1:hover{
    color: var(--color4);
}
.selected-already{
    color: var(--color4);
}
.nav-btns-type-2{
    border: 2px solid var(--color1);
    padding: 7px 13px;
    user-select: none;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
    z-index: 0;
}
.nav-btns-type-2:hover{
    transform: translate(20px,-15px);
}

/* -------------------------------Hero Section CSS -------------------------------------------- */
.hero-section{
    width: 100%;
}
.hero-section-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    text-align: center;
    gap: 10px;
}
.hero-section-container h1{
    font-size: 60px;
    font-weight: 700;
}
.hero-section-container p{
    font-size: 18px;
    color: var(--color4);
}

/* -------------------------------Price Section CSS------------------------------------------------- */
.price-section{
    width: 100%;
}
.price-section-container{
    display: flex;
    gap: 60px;
    margin: 40px 15%;
    align-items: center;
}
.price-section-container-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.price-section-container-left p:nth-child(1){
    color: var(--color1);
    font-size: 20px;
    font-weight: 700;
}
.price-section-container-left p:nth-child(2){
    font-size: 16px;
}
.price-section-container-left p span{
    text-decoration: underline;
    cursor: pointer;
}

.price-section-container-left ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: gray;
    font-size: 16px;
}

.price-section-container-right{
    display: flex;
    align-items: center;
}
.small-business-plan{
    user-select: none;
    height: 680px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 30px 10px;
    background-color: var(--color6);
    border: 2px solid var(--color1);
    border-radius: 10px;
    cursor: pointer;
}
.small-business-plan .recommended{
    background-color: var(--color1);
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.small-business-plan h1{
    font-size: 48px;
    color: var(--color1);
    font-weight: 700;
    text-align: center;
}
.small-business-plan > p{
    font-size: 24px;
    font-weight: 400;
    color: gray;
}
.btn-type-3{
    padding: 10px 20px;
    background-color: var(--color3);
    color: var(--color4);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s;
}

.small-business-plan:hover .btn-type-3{
    transform: scale(1.2);
}
.features{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 5px;
}
.features > p{
    text-align: center;
}
.features ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: start;
    align-items: flex-start;
}
.features ul  li::before{
    content: '✓';
    color: var(--color3);
    padding-right: 5px;
}

.big-business-plan{
    user-select: none;
    height: 615px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 80px 20px 20px;
    position: relative;
    margin: 0 auto;
    transition: all 0.4s;
    background-color: var(--color6);
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
.big-business-plan .heading{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    background-color: var(--color5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}
.big-business-plan h1{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: var(--color3);
}
.big-business-plan > p{
    font-size: 24px;
    font-weight: 400;
    color: gray;
}
.big-business-plan:hover .btn-type-3{
    transform: scale(1.2);
}

/* --------------------------------TagLine Section CSS----------------------------------------------------- */
.tagline-section{
    width: 100%;
}
.tagline-section-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.tagline-section-container img{
    width: 150px;
}
.tagline-section-container > p:nth-child(2){
    font-size: 24px;
}
.tagline-section-container > p:nth-child(3){
    font-size: 12px;
    color: var(--color3);
}

/* ---------------------------------FAQ Section CSS--------------------------------------------------------- */
.faq-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color6);
    padding: 30px 10%;
}
.faq-section-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.faq-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.faq1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.faq1 p:nth-child(1){
    font-weight: 700;
}
.faq1 p:nth-child(2){
    color: gray;
}
.faq1{
    font-size: 18px;
}

/* -----------------------------------Footer Section CSS --------------------------------------------------------- */
.footer-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color4);
}
.footer-section-container{
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer-section-container-left{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.footer-section-container-left img{
    width: 150px;
}
.btn-type-4{
    color: var(--color4);
    background-color: var(--color3);
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 700;
    width: fit-content;
}
.copyright{
    font-size: 12px;
    font-weight: 400;
    color: gray;
}
.copyright span{
    text-decoration: underline;
}

.footer-section-container-right{
    display: flex;
    gap: 60px;
    color: var(--color3);
    font-size: 18px;
}
.footer-right-head{
    color: white;
    font-weight: 700;
}
.footer-section-container-right ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*--------------------------------------------------------------------- Media Query CSS------------------------------------------ */
@media(max-width:950px){
    /* Navbar */
    .navbar-section-container{
        background-color: var(--color6);
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding: 20px;
    }
    .navbar-section-container-right{
        display: none;
    }

    /* Price Section */
    .price-section-container{
        flex-direction: column;
        gap: 30px;
    }
    .price-section-container-right{
        flex-direction: column;
        gap: 30px;
    }

    /* FAQ Section */
    .faq-grid{
        grid-template-columns: 1fr;
    }

    /* Footer Section */
    .footer-section-container{
        flex-direction: column;
        align-items: center;
    }
    .footer-section-container-left{
        align-items: center;
    }

}
@media(max-width:480px){
    .footer-section-container-right{
        display: none;
    }
    .small-business-plan{
        padding: 0;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;
        height: auto;
    }
    .big-business-plan{
        padding: 0;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;
        height: auto;
    }

}